body {
            background: linear-gradient(#18e,#e24);
            background-image: url(fondo.jpg);
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        h1 {
            font-size: 50px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            border: 2px solid black;
            border-radius: 30px;
            
        }

        .container {
            display: flex;
            align-items: center;
            gap: 100px;
            justify-content: center;
            margin-top: 50px;
        }

        .img-perfume {
            width: 10%;
            margin-top: 250px;
            padding: 50px;


        }

        p {
            width: 50%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            line-height: 1.5;
            font-size: 20px;
            padding: 50px;
            background: #48e3;
            border: 2px solid #000;
            border-radius: 20px;

        }

        strong {
            line-height: 2;
            font-size: 30px;
        }

        input {
            padding: 40px;
            font-size: 30px;
            background-color: #48e3;
            border: 2px solid;
            border-radius: 30px;
            margin-top: 50px;
        }

        input:hover {
            background-color: #48e;
            transition: 1s;
            padding: 50px;
            font-size: 35px;
        }
    /*imagenes da formula*/

    .formulas {
        width: 20%;
    }